.schedule-seats-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    position: relative;
}
.schedule-seats{
    position: absolute;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 80%;
}

.schedule-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.hours-list{
    margin-top: 20px;
}

.time{
    border: 1px solid white ;
    height: 40px;
    width: 80px;
    min-width: 80px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    cursor: pointer;
}
.time:hover{
    border: 1px solid rgb(78, 174, 230);
    color: rgb(78, 174, 230);
}
.timeselected{
    border: 1px solid rgb(78, 174, 230);
    color: rgb(78, 174, 230);
}


.seats-cont{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background: rgb(82, 81, 81,0);
    border-top: 5px solid white;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    padding-top: 100px;
    width: 100%;
    margin-bottom: 30px;
    
}

.seat{
    height: 30px;
    width: 100%;
    min-width: 30px;
    background: black;
    opacity: .8;
    border: 1px solid white;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    cursor: pointer;
    text-align: center;
}
.seat:hover{
    border: 1px solid rgb(78, 190, 255);

}
.selected{
    background-color: red;
}
.selected:hover{
    background-color: rgb(114, 2, 2);
    border: 0px;
}
.reserved{
    background: rgb(173, 173, 173);
}
.reserved:hover{
    background: rgb(173, 173, 173);
    border: white;
}

.seat-legend{
    display: flex;
    justify-content: space-around;

}

.icon{
    display: flex;
    align-items: center;
    margin: 0px 10px;
    margin-top: 50px;
}
.open-seat{
    background: black;
    height: 15px;
    width: 20px;
    opacity: .8;
    border: 1px solid white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 5px;
}
.selected-seat{
    background: red;
    height: 15px;
    width: 20px;
    opacity: .8;
    border: 1px solid white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 5px;

}
.reserved-seat{
    background: rgb(173, 173, 173);
    height: 15px;
    width: 20px;
    opacity: .8;
    border: 1px solid white;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-right: 5px;

}
.schedule-page{
    color: white;
    -webkit-box-shadow: 0px 65px 62px -59px rgba(255, 255, 255, 0.15);
    -moz-box-shadow:0px 65px 62px -59px rgba(255, 255, 255, 0.15);
    box-shadow: 0px 65px 62px -59px rgba(255, 255, 255, 0.15);
    position: absolute;
    z-index: 9;
    top: 0;
}


.schedule-bg{
    height: 100vh;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.schedule-bg:after {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: inset 0px 500px 500px rgb(0, 0, 0);
}