<div class="d-flex flex-column flex-md-row align-items-center border-bottom">
    <a href="/" class="d-flex align-items-center text-white text-decoration-none">
      <span class="fs-4 p-4">Angular Tickets</span>
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto p-4">
      <a class="me-3 py-2 text-white text-decoration-none" href="#">Movies</a>
      <a class="me-3 py-2 text-white text-decoration-none" href="#">Theaters</a>
      <a class="me-3 py-2 text-white text-decoration-none" href="#">Club Members</a>
    </nav>
  </div>