<div class="thankyou-cont" >
    <div class="thankyou-user-info">
        <div class="movie-box" [style.background]="'url(https://image.tmdb.org/t/p/w780'+ movie.poster + ')'">
        </div>
                   <div class="thankyou">
                    <div class="mb-5">
                        <h1 class="mb-5">Thank you for your order</h1>
                        <h2 class="mb-5">Order has been sent to your email</h2>
                        <h1 class="">Order number #{{movie.id}}</h1>                       
                    </div>
                    <div class="mt-5 mb-8">
                        <h3 class="">{{movie.title}}</h3>
                    </div>

                    <div class="quantity-text">
                        <div class="thankyou-title">
                            Movie Start
                        </div>
                        <div class="">
                            {{time}}
                        </div>
                    </div>
                    <div *ngIf="adultTickets > 0 " class="quantity-text mt-5">
                        <div class="thankyou-title">
                            Adult
                        </div>
                        <div class="">
                            {{adultTickets}}
                        </div>
                    </div>
                    <div *ngIf="childTickets > 0 " class="quantity-text mt-5">
                        <div class="thankyou-title">
                            Child
                        </div>
                        <div class="">
                            {{childTickets}}
                        </div>
                    </div>
                    <div *ngIf="seniorTickets > 0 " class="quantity-text mt-5">
                        <div class="thankyou-title">
                            Senior
                        </div>
                        <div class="">
                            {{seniorTickets}}
                        </div>
                    </div>
                    <div class="mt-5 quantity-text">
                        <div class="thankyou-title">
                            Seats
                        </div>
                        <div class="">
                            {{this.service.seatsReserved}}
                        </div>
                    </div>
                    <div class="quantity-text mt-5">
                        <div class="thankyou-title">
                            Total
                        </div>
                        <div class="">
                            ${{totalPrice}}
                        </div>
                    </div>
                    <div class="continue-thankyou mt-5">

                        <a href="/">
                            <button mat-raised-button isRoundButton="true" color="Link" [style.width]="150+'px'"  [style.border-radius]="100+'px'" [style.padding]="10+'px'">Return Home</button>

                        </a>
                    </div>
                </div>
             
    </div>
 </div>