<div id="movies-list">
    <div class="container">
        <div class="row d-flex flex-direction-row text-center">
            <h1 class="mb-5">Thank you for your order</h1>
            <h2 class="mb-5">Order has been sent to your email</h2>
            <h1 class="mb-5">Order number #{{movie.id}}</h1>
            <div class="col-lg-5 container mb-5">
                <div class="movie-box" [style.background]="'url(https://image.tmdb.org/t/p/w780'+ movie.poster + ')'">
                </div>
            </div>
            <div class="col-md-5 text-center ">
                <div class="container ">
                 <div class="d-flex quantity-text ">
                     <div class="container">
                         Movie Start
                     </div>
                     <div class="container">
                         {{time}}
                     </div>
                 </div>
                 <div *ngIf="adultTickets > 0 " class="d-flex quantity-text mt-5">
                     <div class="container">
                         Adult
                     </div>
                     <div class="container">
                         {{adultTickets}}
                     </div>
                 </div>
                 <div *ngIf="childTickets > 0 " class="d-flex mt-5 quantity-text">
                     <div class="container">
                         Child
                     </div>
                     <div class="container">
                         {{childTickets}}
                     </div>
                 </div>
                 <div *ngIf="seniorTickets > 0 " class="d-flex mt-5 quantity-text">
                     <div class="container">
                         Senior
                     </div>
                     <div class="container">
                         {{seniorTickets}}
                     </div>
                 </div>
                 <div class="d-flex mt-5 quantity-text">
                     <div class="container">
                         Seats
                     </div>
                     <div class="container">
                         {{seatsReserved}}
                     </div>
                 </div>
                 <div *ngIf="adultTickets > 0 " class="d-flex mt-5 quantity-text">
                     <div class="container">
                         Total
                     </div>
                     <div class="container">
                         ${{totalPrice}}
                     </div>
                 </div>
                 
             </div>
             </div>
        </div>

        <div class="row">
            <div class="container d-flex justify-content-center mt-5 mb-5 continue-tickets">
                <button mat-raised-button isRoundButton="true" color="warn">Return Home</button>
            </div>
        </div>
    </div>
   
</div>