

.hero-cont {
  position: relative;
}
.hero-cont .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 70;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
}

.prev-hero {
  cursor: pointer;
  display: none;
  position: absolute;
  font-size: 32px;
  bottom: 9%;
  left: 40%;
  width: 20px;
  height: 30px;
  z-index: 70;
  color: white;
}

.next-hero {
  cursor: pointer;
  display: none;
  position: absolute;
  bottom: 9%;
  right: 40%;
  width: 20px;
  height: 30px;
  z-index: 70;
  color: white;
  font-size: 32px;
}

.hero-slide {
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.hero-slide img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero-slide .text {
  position: absolute;
  bottom: 30%;
  z-index: 99;
  color: white;
  max-width: 200px;
  font-size: 0.5em;
  line-height: 1.25;
  margin-left: 30px;
}
.hero-slide .text button {
  background-color: #e51937;
  border-color: transparent;
  border-radius: 12px;
  padding: 8px;
  color: #ffff;
  font-size: 7px;
  margin-top: 10px;
}

.slick-dots li.slick-active button::before {
  color: white !important;
}

.slick-dots li button::before {
  color: white !important;
  font-size: 14px !important;
  border: 1px solid white !important;
}

.slick-dots {
  z-index: 60;
  bottom: 10% !important;
}

@media (min-width: 575px) {
  .hero-slide .text {
    font-size: 0.6em;
    max-width: 400px;
  }
  .hero-slide .text button {
    font-size: 1em;
  }
}
@media (min-width: 768px) {
  .prev-hero {
    display: block;
  }

  .next-hero {
    display: block;
  }

  .hero-slide .text {
    font-size: 1em;
    max-width: 500px;
  }
  .hero-slide .text button {
    font-size: 1em;
    padding: 8px 12px;
  }
}
@media (min-width: 1024px) {
  .hero-slide .text {
    font-size: 1em;
    max-width: 800px;
  }
  .hero-slide .text button {
    font-size: 1em;
    padding: 8px 12px;
  }
}
/* movieslist */
#movies-list {
  padding: 20px;
  width: 100%;
  margin: 50px 0;
}
#movies-list .prev-movie {
  text-align: center;
  position: absolute;
  left: 12px;
  font-size: 32px;
  color: #ffff;
  bottom: 50%;
  width: 30px;
  height: 33px;
  z-index: 99;
  background-color: #e51937;
}
#movies-list .next-movie {
  text-align: center;
  position: absolute;
  right: 12px;
  font-size: 32px;
  color: #ffff;
  bottom: 50%;
  width: 30px;
  height: 33px;
  z-index: 99;
  background-color: #e51937;
}

.movie-box {
  border-radius: 12px;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.movie-box:hover .av {
  transform: translate3d(0, 0, 20px);
  background-color: #e51937;
}

.movie-box .av {
  position: absolute;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  bottom: 0px;
  transform: translate3d(0, 100%, 20px);
  transition: all 0.4s ease-in-out;
}

.movie-box .av .status {
  padding: 20px;
  border: 2px solid white;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
}

/* promotions section */


.promotions-cont {
  padding: 50px;
  padding-top: 0;
  width: 100%;
}
.promotions-cont .promotions {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.promotions-cont .promotions .promotions-image-cont {
  width: 100%;
}
.promotions-cont .promotions .promotions-image-cont img {
  width: 100%;
  max-height: 480px;
}
.promotions-cont .promotions .promotions-text-cont {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}
.promotions-cont .promotions .promotions-text-cont .promotions-text {
  color: #ffff;
  max-width: 80%;
  font-size: 1.5vw;
  margin: 0 0 1em;
  line-height: 1.75em;
}
.promotions-cont .promotions .promotions-text-cont .promotions-text h2 {
  font-size: 3vw;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 1.25em;
}
.promotions-cont .promotions .promotions-text-cont .promotions-text p {
  margin-bottom: 12px;
  line-height: 1.35em;
}
.promotions-cont .promotions .promotions-text-cont .promotions-text button {
  background-color: #e51937;
  border-color: transparent;
  border-radius: 12px;
  padding: 12px;
  color: #ffff;
}
.promotions-cont .promotions-type-two {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.promotions-cont .promotions-type-two .promotions-image-cont {
  width: 100%;
}
.promotions-cont .promotions-type-two .promotions-image-cont img {
  width: 100%;
  max-height: 480px;
}
.promotions-cont .promotions-type-two .promotions-text-cont {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 15px;
}
.promotions-cont .promotions-type-two .promotions-text-cont .promotions-text {
  color: #ffff;
  max-width: 80%;
  font-size: 1.5vw;
  margin: 0 0 1em;
  line-height: 1.75em;
}
.promotions-cont .promotions-type-two .promotions-text-cont .promotions-text h2 {
  font-size: 3vw;
  margin-bottom: 12px;
  font-weight: 600;
  line-height: 1.25em;
}
.promotions-cont .promotions-type-two .promotions-text-cont .promotions-text p {
  margin-bottom: 12px;
  line-height: 1.35em;
}
.promotions-cont .promotions-type-two .promotions-text-cont .promotions-text button {
  background-color: #e51937;
  border-color: transparent;
  border-radius: 12px;
  padding: 12px;
  color: #ffff;
}

@media (min-width: 768px) {
  .promotions-cont .promotions {
    align-items: center;
    flex-direction: row;
  }
  .promotions-cont .promotions .promotions-text-cont {
    justify-content: center;
  }
  .promotions-cont .promotions-type-two {
    align-items: center;
    flex-direction: row-reverse;
  }
  .promotions-cont .promotions-type-two .promotions-text-cont {
    justify-content: center;
  }
}