.inputgroup{
    margin-bottom: 40px;
    z-index: 9;

}
.tickets-info-cont{
    display:flex;
    justify-content: center;
    width: 100%;
    color: #ffff;
    margin: 25px 0;
  }
  .user-info{
  }
  .tickets-user-info{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 50%;
  }
  .tickets-info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      align-items: flex-start;
      justify-content: flex-start;


  }

  .tickets-info h3{
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 2px;
  }
  .ticket-info-title{
    margin-bottom: 15px;
}
  .quantity-text{
      width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5em;
    margin-bottom: 25px;
}

.ticket-info-title{
    margin-bottom: 0px;
    margin-right: 25px;
}

.inputgroup mat-form-field{
    z-index: 9;
}

.inputgroup mat-form-field input{
    z-index: 9;
}

.inputgroup mat-label{
    z-index: 9;
    color: white;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline::before{
    background: white !important;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-underline{
    background: white !important;
}
::ng-deep .mat-form-field-underline{
    background: white !important;

}

.tickets-bg{
    height: 100vh;
    filter:blur(20px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transform: scale(2);
    z-index: 1;
  }
  .tickets-bg:after {
    content: '';
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    box-shadow: inset 100px 350px 0px rgb(0, 0, 0);
  }


.continue-tickets button:hover{
    background-color: rgb(28, 135, 197);
}



@media (min-width:768px) {
    .tickets-user-info{
        flex-direction: row;
        width: 100%;
        max-width: 800px;
      }
}