<div class="tickets-info-cont" >
    <div class="tickets-user-info">
                <div class="user-info">
                    <h2>Checkout</h2>
                    <div class="container inputgroup">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your name</mat-label>
                            <input matInput placeholder="name" [formControl]="name" required>
                            <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
                          </mat-form-field>
                       </div>
               <div class="container inputgroup">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
               </div>
               <div class="container ">
                <div class="container inputgroup">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your card number</mat-label>
                        <input matInput placeholder="" [formControl]="card" required>
                        <mat-error *ngIf="card.invalid">{{getCardErrorMessage()}}</mat-error>
                    </mat-form-field>
                   </div>
                   <div class="container inputgroup">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter CVV</mat-label>
                        <input matInput placeholder="" [formControl]="cvv" required>
                        <mat-error *ngIf="cvv.invalid">{{getCvvErrorMessage()}}</mat-error>
                    </mat-form-field>
                   </div>
               </div>
                </div>
                   <div class="tickets-info">
                    <div class="mb-5">
                     <h3>{{movie.title}}</h3>
                    </div>
                    <div class="quantity-text">
                        <div class="ticket-info-title">
                            Movie Start
                        </div>
                        <div class="">
                            {{time}}
                        </div>
                    </div>
                    <div *ngIf="adultTickets > 0 " class="quantity-text mt-5">
                        <div class="ticket-info-title">
                            Adult
                        </div>
                        <div class="">
                            {{adultTickets}}
                        </div>
                    </div>
                    <div *ngIf="childTickets > 0 " class="quantity-text mt-5">
                        <div class="ticket-info-title">
                            Child
                        </div>
                        <div class="">
                            {{childTickets}}
                        </div>
                    </div>
                    <div *ngIf="seniorTickets > 0 " class="quantity-text mt-5">
                        <div class="ticket-info-title">
                            Senior
                        </div>
                        <div class="">
                            {{seniorTickets}}
                        </div>
                    </div>
                    <div class="mt-5 quantity-text">
                        <div class="ticket-info-title">
                            Seats
                        </div>
                        <div class="">
                            {{this.service.seatsReserved}}
                        </div>
                    </div>
                    <div class="quantity-text mt-5">
                        <div class="ticket-info-title">
                            Total
                        </div>
                        <div class="">
                            ${{totalPrice}}
                        </div>
                    </div>
                    <div class="continue-tickets mt-5">
                        <button mat-raised-button isRoundButton="true" color="Link"  [style.font-size]="24+'px'" [style.width]="150+'px'"  [style.border-radius]="100+'px'" [style.padding]="10+'px'" (click)="checkoutContinue(movie.id)">Checkout</button>
                    </div>
                </div>
             
    </div>
 </div>
