<div class="tickets" >
    <div class="container">
        <div class="tickets-page container mt-5">
            <div class="row d-flex flex-direction-row">
                <div class="col-md text-center">
                    <h2>Checkout</h2>
                    <div class="container inputgroup">
                        <mat-form-field appearance="fill">
                            <mat-label>Enter your name</mat-label>
                            <input matInput placeholder="name" [formControl]="name" required>
                            <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
                          </mat-form-field>
                       </div>
               <div class="container inputgroup">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
               </div>
               <div class="container ">
                <div class="container inputgroup">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter your card number</mat-label>
                        <input matInput placeholder="" [formControl]="card" required>
                        <mat-error *ngIf="card.invalid">{{getCardErrorMessage()}}</mat-error>
                    </mat-form-field>
                   </div>
                   <div class="container inputgroup">
                    <mat-form-field appearance="fill">
                        <mat-label>Enter CVV</mat-label>
                        <input matInput placeholder="" [formControl]="cvv" required>
                        <mat-error *ngIf="cvv.invalid">{{getCvvErrorMessage()}}</mat-error>
                    </mat-form-field>
                   </div>
               </div>
                </div>
                <div class="col-md text-center">
                   <div class="container">
                    <div class="container mb-5">
                     <h3>{{movie.title}}</h3>
                      </div>
                    <div class="d-flex quantity-text">
                        <div class="container">
                            Movie Start
                        </div>
                        <div class="container">
                            {{time}}
                        </div>
                    </div>
                    <div *ngIf="adultTickets > 0 " class="d-flex quantity-text mt-5">
                        <div class="container">
                            Adult
                        </div>
                        <div class="container">
                            {{adultTickets}}
                        </div>
                    </div>
                    <div *ngIf="childTickets > 0 " class="d-flex mt-5 quantity-text">
                        <div class="container">
                            Child
                        </div>
                        <div class="container">
                            {{childTickets}}
                        </div>
                    </div>
                    <div *ngIf="seniorTickets > 0 " class="d-flex mt-5 quantity-text">
                        <div class="container">
                            Senior
                        </div>
                        <div class="container">
                            {{seniorTickets}}
                        </div>
                    </div>
                    <div class="d-flex mt-5 quantity-text">
                        <div class="container">
                            Seats
                        </div>
                        <div class="container">
                            {{this.service.seatsReserved}}
                        </div>
                    </div>
                    <div *ngIf="adultTickets > 0 " class="d-flex mt-5 quantity-text">
                        <div class="container">
                            Total
                        </div>
                        <div class="container">
                            ${{totalPrice}}
                        </div>
                    </div>
                    
                </div>
                </div>
                <div class="container d-flex justify-content-center mt-5 mb-5 continue-tickets">
                    <button mat-raised-button isRoundButton="true" color="Link"  [style.font-size]="24+'px'" [style.width]="150+'px'"  [style.border-radius]="100+'px'" [style.padding]="10+'px'" (click)="checkoutContinue(movie.id)">Checkout</button>
                </div>
        
            </div>
        </div>
    </div>
 </div>
