 <div class="tickets" >
    <div class="tickets-bg" [style.background]="'url(https://image.tmdb.org/t/p/w780'+ movie.backdrop_path + ')'">
    </div>
    <div class="container">
        <div class="tickets-page container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2>Select Ticket Type</h2>
                    <div class="tickets-list">
                    <div class="ticket-select">
                        <div class="row">
                            <div class="container d-flex justify-content-center mb-5 mt-5">
        
                            <div class="col text-center">
                                <button  (click)="clickedMinusAdult()" mat-fab color="warn" aria-label="Decrease ticket quantity">-</button>  
                            </div>
                            <div class="col text-center">
                                <input type="text" [value] = "quantityAdult + ' Adult'"  >
                                <div class="row d-flex justify-content-center">$17.49</div>
                            </div>
                            <div class="col text-center">
                                <button  (click)="clickedPlusAdult()" mat-fab color="warn" aria-label="Increase ticket quantity">+</button>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container d-flex justify-content-center mb-5">
        
                                <div class="col text-center">
                                    <button  (click)="clickedMinusChild()" mat-fab color="warn" aria-label="Decrease ticket quantity">-</button>  
                            </div>
                            <div class="col text-center">
                                <input type="text" [value] = "quantityChild + ' Child'">
                                <div class="row d-flex justify-content-center">$14.49</div>
        
                            </div>
                            <div class="col text-center">
                                <button  (click)="clickedPlusChild()" mat-fab color="warn" aria-label="Increase ticket quantity">+</button>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container d-flex justify-content-center mb-5">
                                <div class="col text-center">
                                    <button  (click)="clickedMinusSenior()" mat-fab color="warn" aria-label="Decrease ticket quantity">-</button>  
                                </div>
                                <div class="col text-center">
                                    <input type="text" [value] = "quantitySenior + ' Senior'">
                                    <div class="row d-flex justify-content-center">$12.49</div>
        
                                </div>
                                <div class="col text-center">
                                    <button  (click)="clickedPlusSenior()" mat-fab color="warn" aria-label="Increase ticket quantity">+</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                </div>
                <div class="container d-flex justify-content-center mb-5 continue-tickets">
                    <button mat-raised-button isRoundButton="true" color="Link"  [style.font-size]="24+'px'" [style.width]="150+'px'"  [style.border-radius]="100+'px'" [style.padding]="10+'px'" (click)="clickedContinue(movie.id)">Continue</button>
                </div>
        
            </div>
        </div>
    </div>
   
  
 </div>
