.tickets-list input{
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
  background: transparent;
  color: white;
  text-align: center;
  border: none;
  font-weight: 700;
  width: 130px;
  font-size: 2em;
}

.tickets-list input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;

  
}

.tickets-list button{
    background: transparent;
    border: 1px solid #ffff;
    font-size: 2em;
    font-weight: 100;

}



.continue-tickets button:hover{
    background-color: rgb(28, 135, 197);
}
.tickets{

  position: relative;
  overflow: hidden;
  
}
.tickets-page{
  color: white;
  position: absolute;
  top: 0;
}
.tickets-bg{
  height: 100vh;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-size: cover !important;
  transform: scale(2);
}
.tickets-bg:after {
  content: '';
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  box-shadow: inset 0px 500px 500px rgb(0, 0, 0);
}