 <div class="tickets" >
    <div class="tickets-bg" [style.background]="'url(https://image.tmdb.org/t/p/original'+ movie.backdrop_path + ')'">
    </div>
    <div class=" flex justify-center">
        <div class="tickets-page flex justify-center items-center">
            <div class="row">
                <div class="col text-center mt-5">
                    <h2>Select Ticket Type</h2>
                    <div class="tickets-list">
                    <div class="ticket-select">
                        <div class="row">
                            <div class="flex justify-center items-center mb-5 mt-5">
        
                            <div class="col text-center">
                                <button  (click)="clickedMinusAdult()" mat-fab color="warn" aria-label="Decrease ticket quantity">-</button>  
                            </div>
                            <div class="col text-center mx-10">
                                <h1 class=""> {{quantityAdult}} Adult</h1>
                                <div class="row  flex justify-center">$17.49</div>
                            </div>
                            <div class="col text-center">
                                <button  (click)="clickedPlusAdult()" mat-fab color="warn" aria-label="Increase ticket quantity">+</button>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container flex justify-center items-center mb-5">
        
                                <div class="col text-center">
                                    <button  (click)="clickedMinusChild()" mat-fab color="warn" aria-label="Decrease ticket quantity">-</button>  
                            </div>
                            <div class="col text-center  mx-10">
                                <h1 class=""> {{quantityChild}} Child</h1>
                                <div class="row  flex justify-center">$14.49</div>
        
                            </div>
                            <div class="col text-center">
                                <button  (click)="clickedPlusChild()" mat-fab color="warn" aria-label="Increase ticket quantity">+</button>
                            </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="container flex justify-center items-center mb-5">
                                <div class="col text-center">
                                    <button  (click)="clickedMinusSenior()" mat-fab color="warn" aria-label="Decrease ticket quantity">-</button>  
                                </div>
                                <div class="col text-center  mx-8">
                                    <h1 class=""> {{quantitySenior}} Senior</h1>
                                    <div class="row  flex justify-center">$12.49</div>
        
                                </div>
                                <div class="col text-center">
                                    <button  (click)="clickedPlusSenior()" mat-fab color="warn" aria-label="Increase ticket quantity">+</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                </div>
                <div class="container flex justify-center mb-5 continue-tickets">
                    <button mat-raised-button isRoundButton="true" color="Link"  [style.font-size]="24+'px'" [style.width]="150+'px'"  [style.border-radius]="100+'px'" [style.padding]="10+'px'" (click)="clickedContinue(movie.id)">Continue</button>
                </div>
        
            </div>
        </div>
    </div>
   
  
 </div>
