
.social-media-bar {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px;
    background-color: black;
  }
  .social-media-bar .social-media-icons {
    display: flex;
    color: #ffff;
    font-size: 1.7rem;
    justify-content: space-around;
    width: 100%;
    max-width: 500px;
  }
  .social-media-bar .social-media-icons .fa-brands {
    transition: 0.3 all ease-in-out;
  }
  .social-media-bar .social-media-icons .fa-brands:hover {
    color: #00a2ff;
    cursor: pointer;
  }
  
.footer-links-cont {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 25px;
    background-color: #171717;
  }
  .footer-links-cont .footer-links {
    display: flex;
    color: #ffff;
    justify-content: space-around;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .footer-links-cont .footer-links div p {
    font-size: 1rem;
    margin-bottom: 16px;
  }
  .footer-links-cont .footer-links div ul li {
    cursor: pointer;
    font-size: .7rem;
    margin-bottom: 12px;
  }

  @media (min-width:768px){
    .footer-links-cont .footer-links div p {
        font-size: 1.5rem;
      }
      .footer-links-cont .footer-links div ul li {
       font-size: 1rem;
      }
    
  }
