
    <footer>
      <div class="social-media-bar">
          <div class="social-media-icons">
              <div>
                  <i class="fa-brands fa-facebook"></i>
              </div>
              <div>
                  <i class="fa-brands fa-youtube"></i>                </div>
              <div>
                  <i class="fa-brands fa-twitter"></i>                </div>
              <div>
                  <i class="fa-brands fa-instagram"></i>                </div>
          </div>
      </div>

      <div class="footer-links-cont">
          <div class="footer-links">
              <div>
                  <p>Our Company</p>
                  <ul>
                      <li>
                          Our Brands
                      </li>
                      <li>
                         Contact Us
                      </li>
                      <li>
                         Careers
                      </li>
                  </ul>
              </div>
              <div>
                  <p>Movies</p>
                  <ul>
                      <li>
                          Movies
                      </li>
                      <li>
                         Theaters
                      </li>
                      <li>
                         Ratings
                      </li>
                  </ul>
              </div>
              <div>
                  <p>More</p>
                  <ul>
                      <li>
                          Movie Club
                      </li>
                      <li>
                         Request Refund
                      </li>
                      <li>
                         Gift Cards
                      </li>
                  </ul>
              </div>
          </div>

      </div>
      

  </footer>